.clear:after, .grid:after {
  content: "";
  display: table;
  clear: both; }

.grid-1 {
  width: 100%; }

.grid-2-3 {
  width: 66%;
  float: left; }

.grid-1-2 {
  width: 50%;
  float: left; }

.grid-1-3 {
  width: 33%;
  float: left; }

.grid-1-4 {
  width: 25%;
  float: left; }

.grid-3-4 {
  width: 75%;
  float: left; }

.grid-1-6 {
  width: 16.5%;
  float: left; }

.grid-4-5 {
  width: 80%;
  float: left; }

.grid-1-5 {
  width: 20%;
  float: left; }

@font-face {
  font-family: 'raleway-regular';
  src: url("../fonts/raleway/raleway-regular.woff") format("woff"), url("../fonts/raleway/raleway-regular.otf") format("opentype");
  /* Compatibility */
  font-style: normal; }
@font-face {
  font-family: 'raleway-italic';
  src: url("../fonts/raleway/raleway-italic.woff") format("woff"), url("../fonts/raleway/raleway-italic.otf") format("opentype");
  /* Compatibility */
  font-style: italic; }
@font-face {
  font-family: 'raleway-bold';
  src: url("../fonts/raleway/raleway-bold.woff") format("woff"), url("../fonts/raleway/raleway-bold.otf") format("opentype");
  /* Compatibility */
  font-style: bold; }
body {
  font-size: 18px;
  color: #3f3f3f;
  line-height: 1.8;
  font-family: "raleway-regular", times, serif; }

p {
  margin: 0px auto; }

.italic {
  font-style: italic; }

.link {
  color: #d91c22;
  text-decoration: none; }
  .link:hover {
    text-decoration: underline; }

.section-title {
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.1;
  letter-spacing: 4px;
  margin-bottom: 30px;
  font-family: "raleway-bold", times, serif; }

header {
  background-color: white;
  padding: 12px 0px 12px 0px; }
  header div.wrapper {
    max-width: 1140px;
    margin: 0 auto; }
    header div.wrapper a.logo {
      display: inline-block;
      margin-left: 20px; }
      header div.wrapper a.logo img {
        height: 45px;
        padding: 30px 0px; }
    header div.wrapper nav {
      float: right; }
      header div.wrapper nav ul {
        list-style: none;
        padding: 40px 0px;
        margin: 0; }
        header div.wrapper nav ul li {
          display: inline-block;
          margin-right: 20px; }
          header div.wrapper nav ul li a {
            color: #3f3f3f;
            text-transform: uppercase;
            text-decoration: none; }
            header div.wrapper nav ul li a:hover {
              color: #0bbff3; }

footer {
  background: linear-gradient(45deg, #0ba6df 0%, #0f60a1 100%);
  padding: 60px 0px 90px; }
  footer a.logo img {
    height: 40px;
    display: block;
    margin: 0 auto 80px; }
  footer div.bottom {
    max-width: 1610px;
    margin: 0 auto; }
    footer div.bottom div.left small {
      color: white;
      font-size: 0.8em; }
    footer div.bottom div.right ul {
      float: right;
      list-style: none;
      padding: 0px;
      margin: 0; }
      footer div.bottom div.right ul li {
        display: inline-block;
        margin-right: 20px; }
        footer div.bottom div.right ul li a {
          color: white;
          text-decoration: none;
          font-size: 0.8em; }
          footer div.bottom div.right ul li a:hover {
            color: #d91c22; }
          footer div.bottom div.right ul li a i {
            padding-right: 8px; }

body.page-products div.hero {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/hero/hero-home.jpg") no-repeat center 0px/100% auto;
  min-height: 786px;
  max-height: 786px; }

body.page-about div.hero {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/hero/hero-about.jpg") no-repeat center 0px/100% auto;
  min-height: 482px;
  max-height: 482px; }
body.page-about main section {
  padding: 60px 0px;
  max-width: 780px;
  margin: 0 auto; }
  body.page-about main section h2 {
    margin: 30px 0px; }
  body.page-about main section p {
    font-size: 0.8em; }

body.page-contact div.hero {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/hero/hero-contact.jpg") no-repeat center 0px/100% auto;
  min-height: 480px;
  max-height: 480px; }

body {
  margin: 0; }

/*# sourceMappingURL=global.css.map */
