body.page-products{
  div.hero{
  	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url("../images/hero/hero-home.jpg") no-repeat center 0px/100% auto;
  	min-height: 786px;
    max-height: 786px;
  }
}