body.page-products{
  div.hero{
  	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url("../images/hero/hero-home.jpg") no-repeat center 0px/100% auto;
  	min-height: 786px;
    max-height: 786px;
  }
  main{
  	max-width: 1300px;
  	margin: 0 auto;
  	padding: 40px 0px;
  	div.text-wrap{
  		max-width: 800px;
  		margin: 0 auto;
  		h2{
	  		color: $red;
	  		text-transform: uppercase;
	  		font-size: 2em;
	  		margin-bottom: 10px;
	  	}
	  	p{
	  		font-size: 0.9em;
				margin-bottom: 60px;
	  	}
  	}
	}
}