body.single-product{
	&.product_cat_construction-foam{
		div.hero{
	  	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url("../images/products/banner-construction-foam.jpg") no-repeat center 0px/100% auto;
	  	min-height: 484px;
	    max-height: 484px;
	    margin-bottom: 60px;
	  }
	}
	main{
		max-width: 1200px;
		margin: 0 auto;
	}
}